@mixin estilo-tabla($tamanio)//MIXIN CON ARGUMENTOS 
{
    th {
      text-align: center;
      font-weight: bold;
      font-size: $tamanio;
    }
    td, th {padding: 12px}
  }
  
  .datos {
    @include estilo-tabla(200vh);
  }