* {
    padding: 0;
    margin: 0;
}

.footer {
    visibility: hidden;
}

.item {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.contenedor {
    display: grid;
    grid-gap: 0.5em;
    width: 90%;
    max-width: auto;
    margin: 20px auto;
    grid-template-areas:
        "logo logo"
        "a a"
        "b b"
        "c d";
}

.logo {
    grid-area: logo;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

@media only screen and (min-width: 600px) {

    .footer {
        visibility: visible;
        grid-area: footer;
        background-color: green;
    }

    .contenedor {
        grid-template-areas:
            "logo logo logo"
            "a a a"
            "b c d"
            "footer footer footer";
    }
}